@{
    ViewData["Title"] = "Get To Know Joel";
}
<br /><br />
<h1>Get to Know Joel</h1>

<div class="row">
    <div class="column">
        <br />
        <h3>Joel the Comedian</h3>
        <h4 style="color: dimgrey">
            <ul>
                <li>Maybe you want to laugh a ton but still maintain your dignity. <br /></li>
                <li>Maybe you want to experience improv comedy first-hand.<br /></li>
                <li>Maybe you want to be a part of the action.<br /></li>
                <li>Check Joel out at <a href="https://www.qwcomedy.com/" style="text-decoration: none">Quick Wits Comedy</a>!</li>
            </ul>
        </h4>

        <br />
        <h3>Joel the Critic</h3>
        <h4 style="color: dimgrey">
            <ul>
                <li>Honest reviews of your favoite films? <br /></li>
                <li>Endless listening time during your commute?<br /></li>
                <li>Trying to find a new podcast about movies?<br /></li>
                <li>See what Joel has to say at <a href="https://baconsale.com/" style="text-decoration: none">Baconsale</a>!</li>
            </ul>
        </h4>
        <br /><br />
    </div>
    <div class="column">
        <div class="round_square-image" style="margin-left: 20%; margin-right: auto; margin-top: 10%; filter: drop-shadow(1px 4px 10px black)">
            <a href="https://baconsale.com/" style="text-decoration: none">
                <img src="~/img/baconsale.jpg">
            </a>
        </div>
        <br />
        <p style="margin-left: 80%">Baconsale Team</p>
    </div>
</div>
<br />